/* colors */
/* fonts */
/* Basic settings */
html {
  font-size: 10px;
}
body {
  font-family: 'Montserrat', sans-serif;
}
/*typography*/
.main {
  background: url(../img/bg-main.jpg) center center no-repeat;
  height: 90.7rem;
}
header {
  text-align: center;
  height: 10rem;
  background: rgba(0, 0, 0, 0.4);
}
section {
  margin-top: 4rem;
  background: url(../img/bg_services.jpg) no-repeat center center;
  padding-bottom: 14.5rem;
}
.section-header {
  margin-bottom: 8rem;
  text-align: center;
  font-size: 4.8rem;
  color: #666;
}
.section-nulla {
  background: none;
  margin-top: 0;
  padding-bottom: 0;
}
.section-chek-our {
  background: none;
  text-align: center;
  padding-bottom: 10rem;
}
/* logotip */
.main_logo {
  display: block;
  margin-top: 2.5rem;
  padding-left: 10rem;
}
/* nav list */
.nav_menu {
  text-align: right;
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
  margin-right: 5rem;
  margin-top: 3.5rem;
}
ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #ffffff;
}
ul .icon_search {
  padding-left: 1rem;
  top: 2%;
  -webkit-transform: translateY(-2%);
          transform: translateY(-2%);
}
.header {
  background: rgba(0, 0, 0, 0.6);
}
/* main content */
.main-content {
  text-align: center;
}
.main-content h1 {
  margin-top: 28.5rem;
  font-size: 7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ffffff;
}
.main-content h1 span {
  color: #2dabdb;
}
.main-content p {
  position: relative;
  color: #ffffff;
  margin-top: 2rem;
  font-size: 2.4rem;
}
/* button */
.btn {
  background-color: #2ebaee;
  color: #ffffff;
  width: 21.5rem;
  height: 5rem;
  border-radius: 2.4rem;
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 7.2rem;
}
.btn:hover {
  cursor: pointer;
  background: #12a2d7;
}
/* section whith services and slider */
.services-block {
  text-align: center;
}
.services-block h3 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  color: #242424;
}
.services-block p {
  font-size: 1.4rem;
  line-height: 3rem;
}
.services-img {
  height: 6rem;
  margin-bottom: 5rem;
}
.services-img img {
  display: block;
  margin: auto;
}
.services .btn-services {
  display: block;
  margin: 0 auto;
  margin-top: 7rem;
}
.slick-active {
  outline: none;
}
/* section whith computer */
.services_2 {
  margin-top: 10rem;
}
.services_2 .services_2_content_left {
  padding-right: 10rem;
}
.services_2 .services_2_content_left h4 {
  font-size: 3.6rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  color: #242424;
}
.services_2 .services_2_content_left p {
  font-size: 1.4rem;
  line-height: 3rem;
}
.services_2 .services_2_content_left .buton-comp {
  margin-top: 3rem;
}
.services_2 .services_2_content_left .computer {
  width: 70rem;
  height: 45rem;
}
/* section whith camera */
.services_3 {
  margin-top: 10rem;
  text-align: left;
}
.services_3 .paragrafh_text_button {
  text-align: left;
  padding-left: 4rem;
}
.services_3 .paragrafh_text_button h4 {
  font-size: 3.6rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  color: #ffffff;
  width: 55.5rem;
}
.services_3 .paragrafh_text_button p {
  font-size: 1.4rem;
  line-height: 3rem;
  width: 55.5rem;
  color: #ffffff;
}
.services_3 .paragrafh_text_button .button_services_3 {
  margin-top: 3rem;
  color: #2ebaee;
  background: #ffffff;
}
.services_3 .paragrafh_text_button .button_services_3:hover {
  cursor: pointer;
  background: #cccccc;
}
.services_3 .camera {
  width: 50rem;
  height: 35rem;
}
/* section nulla */
.section-nulla h4 {
  font-size: 5rem;
  color: #000;
  margin-top: 10rem;
  padding-left: 6rem;
}
.section-nulla p {
  margin-top: 5rem;
  font-size: 1.4rem;
  padding-left: 6rem;
  line-height: 3rem;
  width: 56.5rem;
  height: 12rem;
}
.section-nulla .section-nulla-btn {
  margin-left: 6rem;
}
.section-nulla .gay-writer {
  width: 60.7rem;
  height: 60.6rem;
}
/* section images 2 */
.images-2 .row_image {
  min-height: 25rem;
  text-align: left;
}
.images-2 .img-1 {
  background: url(../img/1.png) no-repeat center center;
  background-size: cover;
}
.images-2 .img-2 {
  background: url(../img/2.png) center center no-repeat;
  background-size: cover;
}
.images-2 .img-3 {
  background: url(../img/3.png) center center no-repeat;
  background-size: cover;
}
.images-2 .img-4 {
  background: url(../img/4.png) center center no-repeat;
  background-size: cover;
}
.images-2 h4 {
  height: 100%;
  width: 100%;
  margin-top: 0;
  padding-left: 5rem;
  padding-top: 10rem;
  font-size: 2.5rem;
  background: rgba(0, 0, 0, 0.7);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ffffff;
}
.images-2 h4:hover {
  height: 100%;
  width: 100%;
  background: rgba(57, 157, 195, 0.7);
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ffffff;
}
/* section chek our*/
.section-chek-our h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 7.2rem;
  color: #242424;
  text-align: left;
}
.section-chek-our h5 span {
  color: #319fcd;
}
.section-chek-our .chek-our-blok {
  margin-top: 9rem;
}
.section-chek-our .chek-our-blok h6 {
  padding-top: 2rem;
  font-size: 3rem;
}
.section-chek-our .chek-our-blok p {
  font-size: 1.4rem;
  padding-top: 1rem;
}
.section-chek-our .btn-chek {
  margin-top: 3rem;
}
/* footer */
.footer {
  background: url(../img/bg-footer.png) center center no-repeat;
  background-size: cover;
  height: 60rem;
  width: 100%;
}
.footer h5 {
  margin-top: 10rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 5rem;
  color: #ffffff;
}
.footer h6 {
  font-size: 1.4rem;
  color: #878787;
  margin-top: 3rem;
}
.footer p {
  font-size: 2rem;
  color: #878787;
  margin-top: 3rem;
}
.footer p span {
  color: #319fcd;
}
.footer ul {
  text-decoration: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 3rem;
}
.footer ul li {
  display: inline-block;
  margin-right: 1rem;
}
.footer ul li img:hover {
  -webkit-transition: 3s;
  transition: 3s;
  width: 6rem;
  height: 6rem;
}
.footer .footer-form {
  background: rgba(0, 0, 0, 0);
  margin-top: 10rem;
  text-align: center;
}
.footer .footer-form .footer-form-input {
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  background: none;
  border: 1px solid #535353;
  color: #ffffff;
}
.footer .footer-form #text-area {
  width: 100%;
  height: 20rem;
  color: #ffffff;
  font-size: 1.4rem;
  background: none;
  border: 1px solid #535353;
  resize: none;
}
.footer .footer-form .footer-form-btn {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
/* Footer podbal */
.footer-podbal {
  background: #000;
  height: 10rem;
}
.footer-podbal ul {
  padding: 0rem;
}
.footer-podbal ul li {
  margin-right: 1rem;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.footer-podbal p {
  font-size: 1.4em;
  color: #fff;
  margin-top: 3.5rem;
}
