body {
  background: url(../img/line-bg/line-bg.png);
  background-size: initial;
  background-position: center;
  background-repeat: repeat-y;
}
header {
  position: relative;
  margin-bottom: 90px;
}
.container {
  width: 1224px;
  margin: 0 auto;
}
.relative {
  position: relative;
}
