.footer {
  padding: 50px 0px;
}
@media (min-width: 768px) {
  .footer {
    padding: 100px 0px;
  }
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation__logo {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .navigation__logo {
    margin-bottom: 40px;
  }
}
.footer-navigation-list {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer-navigation-list {
    margin-bottom: 40px;
  }
}
.footer__social_item {
  margin-right: 34px;
}
.footer__social_item:last-child {
  margin-right: 0;
}
